<div ng-controller="loginCtrl">
	
  <h2 style="color: #349200"> Academic Examination System </h2><br/>
    <form action="/" id="myLogin">
       Username <br /> <input type="text" id="username" ng-model="username" > </p>
       Password <br /> <input type="password" id="password" ng-model="password" > </p>
      <button type="button" ng-style="btn" ng-click="submit()">Login</button>
    </form>



    <!-- Remind Passowrd or Create new account -->
    <div id="formFooter">
        <a href="#"> New User? </a> | <a href="#" ng-click="resetPassword()">Forgot Password?</a>
    </div>


</div>