{% extends 'teacher_base.html' %}

{% load static %}


{% block content %}

<style>
input{
  border-style: none;
  color:#349200;
  font-size: 32px;
  width: 100%;
  padding-left: 10px;
}

::placeholder {
  color: #ccc;
  opacity: 1; /* Firefox */
}
li {
  list-style-type: none;
}

</style>
<form method='POST'> {% csrf_token %}


{{ form.title }}
<br />
<div class="container">
<div id = "newQuestion">
<div class="input-group">
  <span class="input-group-addon" id="question"><b>QUESTION</b></span>
  {{form.question}}
  <!--input type="text" class="form-control" placeholder="Add your question" aria-describedby="question"-->
</div>


<br />

  <div class="input-group-addon">
    <span class="input-group-text"><b>OPTIONS</b></span>
  </div>

    {{form.option1}}
    {{form.option2}}
    {{form.option3}}
    {{form.option4}}
    <!-- <li><input type="text" aria-label="Second" class="form-control" placeholder="Option 2"></li>
    <li><input type="text" aria-label="Third" class="form-control"placeholder="Option 3"></li>
    <li><input type="text" aria-label="Fourth" class="form-control"placeholder="Option 4"></li> -->

<br />

<div class="input-group">
  <span class="input-group-addon" id="answer"><b>CORRECT ANSWER</b></span>
  {{form.correct}}
</div>

<br /> 
<p align="right"><button style="margin-bottom: 10px;" id='remove' class=" btn btn-default" onclick="deleteQuestion()"> Delete Question </button></p>


</div>
<div id="newBlock"></div>
</div> 

<button class="btn btn-success" type="button" id="add" onclick="makeClone()" value="0">Add Question </button>
<button class="btn btn-success" type="submit">Save </button>
<button class="btn btn-default" type="button">Cancel </button>
</form>


<script>
  var cloneCntr = 1;
  function makeClone() {
      // clone the div
      var clone = $("#newQuestion").clone(false);
      // change all id values to a new unique value by adding "_cloneX" to the end
      // where X is a number that increases each time you make a clone
      $("*", clone).add(clone).each(function() {
          if (this.id) {
              this.id = this.id + "_clone" + cloneCntr;
          }
          if (this.name) {
              this.name = this.name + "_clone" + cloneCntr;
          }
      });
      ++cloneCntr;
      $('.container').append(clone);                         

  }
  function addAnother(){
    var count = 1;
    $('#newQuestion')
      .clone().attr('value','')
      .attr ('id','newQuestion'+count)
      .appendTo("#newBlock")
    count=count+1;
    
      /* var len = $('#add').val();
    len++;
    //creating new div block for adding another question 
    $('.container').append('<div id="newBlock'+len+'"> </div>')
    
    console.log(len);

    //cloning the original block structure and appending it to the newly created div
    

    $("#newQuestion").clone().appendTo('#newBlock'+len); 
    
    
    }*/

  
  }

  
  function deleteQuestion(){
    $('#remove').closest('#newQuestion').find('element').not(':first').remove();
  }

</script>


{% endblock %}
