{% extends 'teacher_base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<style>
input{
  border-style: none;
  color:#349200;
  font-size: 32px;
  width: 100%;
  padding-left: 10px;
}

::placeholder {
  color: #ccc;
  opacity: 1; /* Firefox */
}
li {
  list-style-type: none;
}

</style>
<form method='POST'> {% csrf_token %}


{{ add_form|crispy}}
<br />
<div class="container">
<div id = "newQuestion">

<button class="btn btn-success" type="submit">Save and add Questions </button>

</form>

{%endblock%}