<!DOCTYPE html>
<html lang="en">
<head>
  <title>MDM Test</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

<div class="container">
  <h2>Modern Database Management: Test 1</h2>
  <p>This is an individual test assignmnet. All work must be your own.</p>
  <hr />
  <form>
    <h3>1. One application of data warehouses is:</h3>
    <div class="radio">
      <label >
        <input type="radio" name="optradio" >shipping of information
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optradio">order processing
      </label>
    </div>
    <div class="radio">
      <label >
        <input type="radio" name="optradio">decision support
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optradio">file updating
      </label>
    </div>
  </form>
  <form>
    <h3>2. Older systems that often contain data of poor quality are called ________ systems.</h3>
    <div class="radio">
      <label >
        <input type="radio" name="optradio" >controlled
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optradio">legacy
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optradio">database
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optradio">mainframe
      </label>
    </div>
  </form>
  <form>
    <h3>3. A database is an organized collection of ________ related data.</h3>
    <div class="radio">
      <label>
        <input type="radio" name="optradio" >logically
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optradio">physically
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optradio">loosely
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optradio">badly
      </label>
    </div>
  </form>
  <hr />
  <a class="btn btn-lg btn-success" data-toggle="modal" data-target="#basicModal"> Submit</a>

  
  <!--Modal for Submit button -->
  <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Are you sure you want to submit?</h4>
          </div>
      
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Continue Test</button>
            <button type="button" class="btn btn-primary">Submit Test</button>
          </div>
        </div>
      </div>
    </div>
  

</div>



</body>
</html>