{% extends 'base.html' %}
{%block content%}






<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<script>

</script>
<body>
  
  <div class="container">
    <h2>{{mcquestions.first.exam_name}}</h2>
    <p>This is an individual test assignmnet. All work must be your own.</p>
    <hr />
    <ol>
    {% for question in mcquestions %}
    
    <form method='POST'>
      <h3>
       
          <li>{{question.question_name}}</li>
        
      </h3>
      {% for question in dictTest %}
        {{dictTest}}
        {% endfor %} 
         {{question_form.as_p}}

      </div>
    </form>
  {%endfor%}
</ol>
  <a class="btn btn-lg btn-success" data-toggle="modal" data-target="#basicModal"> Submit</a>

  
  <!--Modal for Submit button -->
  <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Are you sure you want to submit?</h4>
          </div>
      
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Continue Test</button>
            <button type="sumbit" class="btn btn-primary" data-toggle="modal"data-target="#successMessage">Submit Test</button>
          </div>
        </div>
      </div>
    </div>

    
  

</div>



</body>
</html>
{%endblock%}