{% extends 'base.html' %}
{%block content%}






<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<script>

</script>
<body>
  
  <div class="container">
    <h2>{{mcquestions.first.exam_name}}</h2>
    <p>This is an individual test assignmnet. All work must be your own.</p>
    <hr />
    <ol>
    
    <!--WE PROBABLY DONT EVEN NEED THIS // put an incrementable var here "score"// actually, just have this be THE django score-->

    {% for question in mcquestions %}
    <div class="questions">
    <form method='POST' data-toggle="validator">
      <h3>
        {{question_form.as_p}}
        
          <li>{{question.question_name}}</li>
        
      </h3>
      <div class="radio">
        <label >
          <!--ask astha how to properly assign values-->
          <input class="option" type="radio" name="optradio" value=1 required>{{question.answer1}}
        </label>
      </div>
      <div class="radio">
        <label>
          <input class="option" type="radio" name="optradio" value=2 required>{{question.answer2}}
        </label>
      </div>
      <div class="radio">
        <label >
          <input class="option" type="radio" name="optradio" value=3 required>{{question.answer3}}
        </label>
      </div>
      <div class="radio">
        <label>
          <input class="option" type="radio" name="optradio" value=4 required>{{question.answer4}}
        </label>
      </div>
      
      <!--validate this... if ( value:selected == {{question.correct_answer}} ) then increment score-->

    </form>
  </div>

</ol>
  <div id="result">

  </div>
  {%endfor%}
  <a class="btn btn-lg btn-success" id='next' onclick="displayRadioValue()"> Next</a>
 

  <!--submit botton needs logic to record "score" in our DB, perhaps socre = score / number of questions-->
  <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Are you sure you want to submit?</h4>
          </div>
      
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Continue Test</button>
            <button type="sumbit" class="btn btn-primary" data-toggle="modal"data-target="#successMessage">Submit Test</button>
          </div>
        </div>
      </div>
    </div>

    
  

</div>

</body>
<script>
function displayRadioValue() { 
            var ele = document.getElementsByName('optradio'); 
              
            for(i = 0; i < ele.length; i++) { 
                if(ele[i].checked) 
                document.getElementById("result").innerHTML
                        = "Selected: "+ele[i].value; 
            } 
        }  
  //Store the total number of questions
var totalQuestions = $('.questions').size();

//Set the current question to display to 1
var currentQuestion = 0;

//Store the selector in a variable.
//It is good practice to prefix jQuery selector variables with a $
$questions = $('.questions');

//Hide all the questions
$questions.hide();

//Show the first question
$($questions.get(currentQuestion)).fadeIn();

//attach a click listener to the HTML element with the id of 'next'
$('#next').click(function () {

     //fade out the current question,
     //putting a function inside of fadeOut calls that function 
     //immediately after fadeOut is completed, 
     //this is for a smoother transition animation
     $($questions.get(currentQuestion)).fadeOut(function () {

        //increment the current question by one
        currentQuestion = currentQuestion + 1;

        //if there are no more questions do stuff
        if (currentQuestion == totalQuestions) {

            var result = sum_values()

            //do stuff with the result
            alert(result);

        } else {

            //otherwise show the next question
            $($questions.get(currentQuestion)).fadeIn();

        }
    });

});
  
  </script>
</html>
{%endblock%}