{% load static %}
<html lang="en" >
<head>
  <title>Academic Examination System</title>


    <!-- Application Stylesheet -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" /> -->


  <link rel="stylesheet" href="{% static 'css/styles.css' %}">


</head>

<body>
  <!--
    Your HTML content here
  -->
  <div class="jumbotron">
      <div class="container-fluid">
        <div class="col-xs-offset-2 col-xs-8">
          <div>
            {% include 'nav.html' %}

            {% block content %}
        

          {% endblock %}</div>
        </div>
      </div>
  </div>



</body>

</html>

