{% extends 'base.html' %}

{% load static %}

{% block content %}


<style>
	.digit{
	text-align: center;
}
</style>
<div class ="table-responsive">
<table class="table table-hover table-striped">
	<thead>
		<tr class="success">
			<td >Courses</td>
			<td class="digit">Grade Average</td>
		</tr>
	</thead>
	<tbody class="" >
		
			{% for course in studentCourses %}
				<tr>
					<td><a href="/course_grades/{{course.id}}/">{{course.course_name}}</a></td>
				  	<td class="digit">94.64</td>
				</tr>
			{%endfor%}	  
		
	</tbody>
</table>
</div>


{% endblock %}