<h3 style="color:#349200"> Hello, Prof. {{ request.user }}! </h3>
<p align="right"><button class="btn" onclick="">Log Out</button></p>

<nav class="navbar navbar-default">
  <div id = "navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Academic Examination System</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="bt"><a href="#">My Courses</a></li>
        <li class="bt"><a href="#"> Add a Course</a></li>
        <li  class="bt"><a href="#">Grading</a></li>

      </ul>
    </div>
  </div>
</nav>