{% extends 'teacher_base.html' %}
{% load static %}

{% block content %}

<style>
	.digit{
	text-align: center;
}
</style>
<div class ="table-responsive">
<table class="table table-hover table-striped">
	<thead>
		<tr class="success">
			<td >Exam</td>
			<td class="digit">Class Average</td>
		</tr>
	</thead>
	<tbody class="" >
        <p>View grades for {{selectedCourse}}.</p>		
{% for exam in selectedCourse.course_exam.all%}

    
    <tr>
        <td><a href="/grades_students/{{selectedCourse.id}}/{{exam.id}}/">{{exam}}</a></td>
          <td class="digit">94.64</td>
    </tr>

{%endfor%}

</tbody>
</table>
</div>

{%endblock%}