
{% extends 'teacher_base.html' %}

{% load static %}


{% block content %}


<div class="container">


   {% for course in teacherCourses %}
  <div class = "row">
         <div class = "col-sm-8 col-md-4">
          <div class = "thumbnail">
               <img src = "https://images.pexels.com/photos/34592/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt = "Course 6522">
            </div>
            <div>
               <h3 class = "caption">{{course.course_name}}</h3>

                  <a href = "../add_exam/" class = "btn btn-primary" role = "button"data-toggle="modal" >
                     Add
                  </a> 
                  <a href = "" class = "btn btn-default" role = "button">
                     Update
                  </a>
                  <a href = "" class = "btn btn-default" role = "button">
                     View
                  </a>
               
            </div>
        </div>

        {% endfor %}
</div>

</script>

{% endblock %}