{% extends 'teacher_base.html' %}
{% load static %}

{% block content %}

<style>
	.digit{
	text-align: center;
}
</style>
<div class ="table-responsive">
<table class="table table-hover table-striped">
	<thead>
		<tr class="success">
			<td >Student</td>
			<td class="digit">Grade</td>
		</tr>
	</thead>
	<tbody class="" >
        <p>View grades for {{selectedExam}}.</p>		
{% for student in selectedCourse.student.all%}

    
    <tr>
        <td>{{student}}</a></td>
          <td class="digit">94.64</td>
    </tr>

{%endfor%}

</tbody>
</table>
</div>

{%endblock%}